<div class="add-employee">
    <div *ngIf="showError" class="alert alert-danger" role="alert">
        Employee was not successfully added. Please try again!
    </div>
    <form [formGroup]="addEmployeeForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName" class="required">First Name</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="First Name">
        </div>
        <div
            *ngIf="addEmployeeForm.controls['firstName'].invalid && addEmployeeForm.controls['firstName'].dirty || addEmployeeForm.controls['firstName'].touched">
            <div *ngIf="addEmployeeForm.controls['firstName'].errors?.required" class="alert alert-danger">First name is
                required</div>
        </div>
        <div class="form-group">
            <label for="lastName" class="required">Last Name</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Last Name">
        </div>
        <div
            *ngIf="addEmployeeForm.controls['lastName'].invalid && addEmployeeForm.controls['lastName'].dirty || addEmployeeForm.controls['lastName'].touched">
            <div *ngIf="addEmployeeForm.controls['lastName'].errors?.required" class="alert alert-danger">Last name is
                required</div>
        </div>
        <div class="form-group">
            <label for="role" class="required">Role</label>
            <select class="form-control" formControlName="role">
                <option value="" disabled selected>Select Role</option>
                <option *ngFor="let role of roles | keyvalue" [value]="role.key.toString()">{{role.value}}</option>
            </select>
        </div>
        <div
            *ngIf="addEmployeeForm.controls['role'].invalid && addEmployeeForm.controls['role'].dirty || addEmployeeForm.controls['role'].touched">
            <div *ngIf="addEmployeeForm.controls['role'].errors?.required" class="alert alert-danger">Role is
                required</div>
        </div>
        <div class="form-group">
            <label for="biography" class="required">Biography</label>
            <textarea type="text" class="form-control" id="biography" formControlName="biography"
                placeholder="Employee Biography"></textarea>
        </div>
        <div
            *ngIf="addEmployeeForm.controls['biography'].invalid && addEmployeeForm.controls['biography'].dirty || addEmployeeForm.controls['biography'].touched">
            <div *ngIf="addEmployeeForm.controls['biography'].errors?.required" class="alert alert-danger">Biography is
                required</div>
        </div>
        <div class="form-group">
            <label for="gender" class="required">Gender</label>
            <select class="form-control" formControlName="gender">
                <option value="" disabled selected>Select gender</option>
                <option *ngFor="let gender of genders | keyvalue" [value]="gender.key.toString()">{{gender.value}}
                </option>
            </select>
        </div>
        <div
            *ngIf="addEmployeeForm.controls['gender'].invalid && addEmployeeForm.controls['gender'].dirty || addEmployeeForm.controls['gender'].touched">
            <div *ngIf="addEmployeeForm.controls['gender'].errors?.required" class="alert alert-danger">Gender is
                required</div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-4 col-sm-4">
                <div class="form-group">
                    <label class="required" for="hireDate">Hire Date</label>
                    <input type="date" class="form-control" id="hireDate" formControlName="hireDate"
                        placeholder="Hire Date">
                </div>
                <div
                    *ngIf="addEmployeeForm.controls['hireDate'].invalid && addEmployeeForm.controls['hireDate'].dirty || addEmployeeForm.controls['hireDate'].touched">
                    <div *ngIf="addEmployeeForm.controls['hireDate'].errors?.required" class="alert alert-danger">Hire
                        date
                        is
                        required</div>
                </div>
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
                <div class="form-group">
                    <label class="required" for="salary">Salary</label>
                    <input type="number" min="0" class="form-control" formControlName="salary" id="salary"
                        placeholder="Employee Salary">
                </div>
                <div
                    *ngIf="addEmployeeForm.controls['salary'].invalid && addEmployeeForm.controls['salary'].dirty || addEmployeeForm.controls['salary'].touched">
                    <div *ngIf="addEmployeeForm.controls['salary'].errors?.required" class="alert alert-danger">Salary
                        is
                        required</div>
                </div>
            </div>
        </div>
        <button class="btn btn-success" type="submit"
            [disabled]="addEmployeeForm.pristine || addEmployeeForm.invalid">Add</button>
        <button class="btn btn-default" [routerLink]="['/employee']">Cancel</button>
    </form>
</div>